
*{
  margin: 0;
  padding: 0;
  cursor: default;
}




.auth{

    width: 100vw;
    height: 100vh;

}

 


.auth1 , .auth2{


    height: 50%;
    width: 50% ;
    /* background-color: blue; */

    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 2px solid black; */
    /* border-radius: 10px; */

    box-shadow: 10px 20px 10px #5557;
    border-radius: 10px;



}


.auth1{
    z-index: 1;
    /* background-color: red; */
    transform: translate(-50%, -50%);

}

.auth2{
    /* z-index: 0; */
    /* background-color: green; */
    transform: translate(-50%, -50%) rotate(5deg);

    /* transform: ; */
}


@media screen and (max-width : 600px) {

.auth1 , .auth2{
    width: 70%;
}
    
}


@media screen and (max-width : 400px) {

    .auth1 , .auth2{
        width: 80%;
    }
        
    }



 @keyframes up{

      0%  {
            transform: translate(-50% , -50%);
            z-index: 1;
      } 

      50% {
        transform: translate(-90% , -50%);
            
      }


      100% {

        transform: translate(-50% , -50%) rotate(5deg);
        


      }



 }   


 @keyframes down{

    0%  {
          transform: translate(-50% , -50%) rotate(5deg);
    } 

    50% {
      transform: translate(15% , -50%);
          
    }


    100% {

      transform: translate(-50% , -50%) rotate(0deg);
      z-index: 1;


    }



}   


@media screen and (max-width : 1350px) {


  .auth1 , .auth2{
    width: 70%;
  }
  
}


@media screen and (max-width : 1000px) {


  .auth1 , .auth2{
    width: 90%;
  }
  
}

@media screen and (max-width : 750px) {


  .auth1 , .auth2{
    width: 90%;
  }
  
}
